{% extends "base.html" %}

{% block content %}
    <h1>Sign Up</h1>
    <form method="post" action="{{ url_for('register') }}">
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
        </div>
        <div>
            <label for="password">Create Password:</label>
            <input type="password" name="password" id="password" required>
        </div>
        <div>
            <label for="confirm_password">Re-enter Password:</label>
            <input type="password" name="confirm_password" id="confirm_password" required>
        </div>
        <div>
            <label for="mobile_number">Mobile Number:</label>
            <input type="text" name="mobile_number" id="mobile_number" required>
        </div>
        <div>
            <input type="submit" value="Sign Up">
        </div>
    </form>
{% endblock %}
